.contact-section {
  background-color: rgb(235, 234, 234);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.contact-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-image {
  flex: 0 0 40%;
  max-width: 40%;
  margin-right: 20px;
  text-align: center;
}

.contact-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.contact-text {
  flex: 0 0 55%;
  max-width: 55%;
}

.contact-text h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.contact-text p {
  font-size: 16px;
  color: #555;
  margin-bottom: 8px;
}

.contact-text b {
  color: #333;
}

@media (max-width: 768px) {
  .contact-section {
    flex-direction: column;
    align-items: center;
  }

  .contact-content {
    text-align: center;
  }

  .contact-image {
    flex: 0 0 100%;
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .contact-text {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
