* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-menu li {
  list-style: none;
  display: inline-flex;
  padding: 5px 5px 5px 5px;
  cursor: pointer;
}
.nav-menu li a {
  text-decoration: none;
  color:black;
}
.nav-menu li a:hover {
  color: rgb(168, 164, 164);
}
